# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js


# next.js
.next/
out/
build
dist

# misc
coverage/*
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.development.local
.env.test.local
.env.production.local
.env.local


# turbo
.turbo


#cert
cert
.env
tsconfig.tsbuildinfo
local-build

.vscode
.vercel


coverage
apps/application-dashboard/coverage
# Sentry Config File
.env.sentry-build-plugin

frontend.log
.logs
.pids

# Playwright 
apps/application-dashboard/tests/session-secrets/
apps/application-dashboard/tests/playwright-report/
apps/application-dashboard/tests/test-results/
# next-agents-md
.next-docs/
apps/application-dashboard/.next-env.d.ts
apps/application-dashboard/.env.local
