
:root {
  font-family: "Inter Variable";
}

* > ::-webkit-scrollbar {
    width: 12px;
    border-radius: 100%;
    overflow: hidden;
  }
  
  /* Track */
  * > ::-webkit-scrollbar-track {
    background: #fff0;
  }
  
  /* Handle */
  * > ::-webkit-scrollbar-thumb {
    background: #e2e2da;
    border-radius: 12px;
    overflow: hidden;
  }
  
  /* Handle on hover */
* > ::-webkit-scrollbar-thumb:hover {
  background: #93937b;
}

/* Handle */
.custom-scroll-bar-common::-webkit-scrollbar-thumb {
  border-radius: 12px;
  outline: none;
  overflow: hidden;
}

/* Handle */
.custom-scroll-bar-sail-2::-webkit-scrollbar-thumb {
  background: #e9e9e0;
}

/* Handle on hover */
.custom-scroll-bar-sail-2::-webkit-scrollbar-thumb:hover {
  background: #e9e9e0;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #93937b;
}

.ag-cell-wrapper {
  &:where(.ag-row-group) {
    align-items: center;
  }
}

.ag-filter-active {
  color: #2546f5;
  position: relative;
  outline: none;
  background-color: #fff;
  --ag-icon-button-hover-color: none;
}

.ag-filter-active {
  :where(.ag-icon-filter) {
    clip-path: none;
  }
}

.ag-filter-active {
  &:after {
    content: '';
    height: 0px;
    width: 0;
  }
}
/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #93937b;
}

.ag-menu{
 border-width: 0px; 
 box-shadow: none;
 overflow-y: visible;
 overflow-x: visible;
}

.ag-checkbox-input-wrapper {
 height: 14px;
 width: 14px;
}

.ag-column-select-column-label {
  font-size: 12px;
  font-weight: 400;
}

.ag-status-name-value {
  padding: 6px 0px;
  font-size: 11px;
  font-weight: 500;
  line-height: 0.875rem;
  align-content: center;
}

.ag-charts-proxy-legend-toolbar{
  width: 100%;
  left: 0;
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
}


:where(.ag-cell-editor) .ag-wrapper {
  margin-left: -8px;
  margin-right: -8px;
}

.ag-rich-select-field-input {
  :where(.ag-input-field-input) {
      padding-left: 8px !important;
      padding-right: 8px !important;
  }
}

.ag-input-field-input:where(:not([type=checkbox],[type=radio])) {
  padding-left: 8px;
  padding-right: 8px;
}