
* > ::-webkit-scrollbar {
    width: 12px;
    border-radius: 100%;
    overflow: hidden;
  }
  
  /* Track */
  * > ::-webkit-scrollbar-track {
    background: #fff0;
  }
  
  /* Handle */
  * > ::-webkit-scrollbar-thumb {
    background: #e2e2da;
    border-radius: 0px;
    overflow: hidden;
  }
  
  /* Handle on hover */
* > ::-webkit-scrollbar-thumb:hover {
  background: #93937b;
}

/* Handle */
.custom-scroll-bar-common::-webkit-scrollbar-thumb {
  border-radius: 0px;
  outline: none;
  overflow: hidden;
}

/* Handle */
.custom-scroll-bar-sail-2::-webkit-scrollbar-thumb {
  background: #e9e9e0;
}

/* Handle on hover */
.custom-scroll-bar-sail-2::-webkit-scrollbar-thumb:hover {
  background: #e9e9e0;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #93937b;
}

.ag-cell-wrapper {
  &:where(.ag-row-group) {
    align-items: center;
  }
}

.ag-filter-active {
  color: #2546f5;
  position: relative;
  outline: none;
  background-color: #fff;
  --ag-icon-button-hover-color: none;
}

.ag-filter-active {
  :where(.ag-icon-filter) {
    clip-path: none;
  }
}

.ag-filter-active {
  &:after {
    content: '';
    height: 0px;
    width: 0;
  }
}
/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #93937b;
}

.ag-menu{
 border-width: 0px; 
 box-shadow: none;
 overflow-y: visible;
 overflow-x: visible;
}
