.ag-cell-wrapper {
  &:where(.ag-row-group) {
    align-items: center;
  }
}

.ag-filter-active {
  color: var(--BLUE_700);
  position: relative;
  outline: none;
  background-color: var(--BG_WHITE);
  --ag-icon-button-hover-color: none;
}

.ag-filter-active {
  :where(.ag-icon-filter) {
    clip-path: none;
  }
}

.ag-filter-active {
  &:after {
    content: '';
    height: 0px;
    width: 0;
  }
}
/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: var(--GRAY_600);
}

.ag-checkbox-input-wrapper {
  height: 14px;
  width: 14px;
}

.ag-column-select-column-label {
  font-size: 12px;
  font-weight: 400;
}

.ag-status-name-value {
  padding: 6px 0px;
  font-size: 11px;
  font-weight: 500;
  line-height: 0.875rem;
  align-content: center;
}

.ag-charts-proxy-legend-toolbar {
  width: 100%;
  left: 0;
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
}

:where(.ag-cell-editor) .ag-wrapper {
  margin-left: -8px;
  margin-right: -8px;
}

.ag-rich-select-field-input {
  :where(.ag-input-field-input) {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

.ag-row-group {
  z-index: 0 !important;
  overflow: visible !important;
}

.ag-input-field-input:where(:not([type='checkbox'], [type='radio'])) {
  padding-left: 8px;
  padding-right: 8px;
}

.pivot .ag-header,
.pivot .ag-row,
.pivot .ag-cell,
.pivot .ag-header-group-cell,
.pivot .ag-header-cell,
.pivot .ag-header-cell-comp-wrapper,
.pivot .ag-pinned-left-header {
  padding: 0 !important;
  border: none !important;
}

.pivot .ag-root-wrapper {
  border-radius: 12px !important;
  border: 1px solid var(--GRAY_200) !important;
}

.pivot .ag-header-group-cell {
  border-right: 0.5px solid var(--GRAY_200) !important;
  border-bottom: 0.5px solid var(--GRAY_200) !important;
}
.tree-table .ag-header-cell-comp-wrapper {
  border-right: 0.5px solid var(--GRAY_200) !important;
  border-bottom: 0.5px solid var(--GRAY_200) !important;
}

.pivot .ag-header-group-cell.ag-column-last {
  border-right: none !important;
}

.pivot .ag-sticky-bottom {
  border-top: 0.5px solid var(--GRAY_200) !important;
}

.pivot .ag-header {
  overflow: visible !important;
}

.pivot .ag-header .ag-pinned-left-header {
  overflow: visible !important;
}

.pivot .ag-header .ag-pinned-left-header .ag-header-cell {
  overflow: visible !important;
}

.pivot .ag-header-cell-comp-wrapper {
  height: 100% !important;
}

.pivot .ag-header-cell-resize::after {
  width: 0px !important;
  background-color: var(--BG_WHITE) !important;
}

.pivot .ag-horizontal-left-spacer {
  border-right: none !important;
}

.pivot .ag-body-viewport {
  overflow: auto !important;
  max-height: var(--pivot-max-height) !important;
}

.pivot .ag-center-cols-viewport {
  min-height: unset !important;
}

.ag-charts-tooltip {
  font-family: var(--font-active-sans, 'Inter'), 'Inter';
  border: 1px solid var(--GRAY_200);
  padding: 4px;
  color: var(--GRAY_1000);
  font-weight: 450;
  font-size: 12px;
  border-radius: 8px;
  background-color: var(--BG_WHITE);
  box-shadow: var(--MENU_SHADOW);
}

.ag-charts-tooltip-heading {
  font-weight: 450;
  font-size: 11px;
  margin-bottom: 4px;
}

.dataset .ag-root-wrapper {
  border-left: none;
}

#dataset-table .ag-header {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.02);
  z-index: 2; /* Ensure it stays above the grid rows */
}

.ag-grid-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--GRAY_300) transparent;
}

/* Change the dragging placeholder color */
.react-grid-item.react-grid-placeholder {
  background: var(--BG_WHITE) !important;
}

.ag-cell-focus:before {
  border-radius: 3px;
}

.ag-cell-range-single-cell {
  border-radius: 4px !important;
  border: 1.5px solid var(--BLUE_700) !important;
}

.ag-fill-handle {
  border-radius: 100%;
  border-width: 1px;
  border-color: var(--BLUE_700);
}

#dataset-table .ag-menu {
  border-radius: 6px;
}

.hidden-cell {
  opacity: 0 !important; /* Hide cell when row is not hovered */
}

.ag-row-hover .hidden-cell {
  opacity: 1 !important; /* Show when row is hovered */
}

.ag-input-field-input {
  border: none !important;
  box-shadow: none !important;
}

.ag-picker-field-wrapper {
  border: none !important;
  box-shadow: none !important;
}

.ag-cell-focus {
  border: 1.5px solid var(--BLUE_700);
  border-radius: 4px;
}

.ag-status-bar {
  min-height: 30px;
  border-top: 1px solid var(--GRAY_500);
  background-color: var(--BG_GRAY_2);
  color: var(--GRAY_1000);
  padding: 0 16px;
}

.missing-focus {
  border: 1.5px solid var(--RED_800) !important;
  border-radius: 4px !important;
}

.missing-focus:has(.ag-input-field-input) {
  border: 1.5px solid var(--BLUE_700) !important;
  border-radius: 4px !important;
}

.missing-focus .ag-fill-handle {
  border: 1.5px solid var(--RED_800) !important;
  background-color: var(--RED_800) !important;
}

.missing-completed {
  background-color: var(--ORANGE_100) !important;
  border: 1px solid var(--ORANGE_200) !important;
  border-radius: 0px !important;
  text-decoration: underline !important;
  text-underline-offset: 2px !important;
}

.missing-completed:has(.ag-input-field-input) {
  border: 1.5px solid var(--BLUE_700) !important;
}

.missing-completed .ag-fill-handle {
  border: 1.5px solid var(--ORANGE_100) !important;
  background-color: var(--ORANGE_100) !important;
}

#full-height-cell-table .ag-cell-wrapper {
  height: 100%;
}

#full-height-cell-table .ag-cell-value {
  height: 100%;
}
